.container {
    border-radius: 10px;
    border: 2px solid #002232;
    display: flex;
    background-color: #bbbbbb;
    margin: auto;
    max-width: 60vw;
}

.container ul {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    font-family: sans-serif;
    list-style: none;
}

ul li svg {
    height: 15px;
    margin-left: 3px;
    width: 15px;
}

h1 {
    color: red;
    text-align: center;
}

.content, 
.search, 
.radio, 
.section {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.search {
    margin-top: 5px;
}

.bth {
    height: 30px;
    width: 100px;
    border: 2px solid papayawhip;
    border-radius: 20px;
    margin-top: 10px;
}

h2 {
    text-align: left;
    margin-left: 10px;
}

.radio, 
.section {
    margin-top: 20px;
}

.section select, 
.section input[type="radio"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section label {
    display: block;
    margin-top: 5px;
}

.section input[type="radio"], 
.section select {
    margin-right: 10px;
}
